h3{
    text-align: center;

}
div {
    margin: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

form {
    text-align: center;
    margin: 10px;
}

input {
    margin: 10px;
}

#linkedIn {
    background-color: #f2ded4;
   
}

#gitHub {
    background-color: #eccec1;
}

#form{
    background-color: #e6bfad;
}

a {
    margin: 10px;
} 